<ion-header>
  <ion-toolbar>
    <ion-title>analytics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
  <div class="halfone" padding>
    <div class="graph">

    </div>
  </div>


  <div class="halftwo" padding>
    <div class="users">
      <ion-icon></ion-icon>
    </div>

    <div class="category1"  >
      <div class="alluminium">

      </div>
      <div class="plastic">
        
      </div>
    </div>

    <div class="category2">
      <div class="glass">

      </div>
      <div class="paper">
        
      </div>  
    </div>

  </div>
</div>
</ion-content>
