<ion-header>
  <ion-toolbar>
    <ion-title>analytics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
  <div class="halfone" padding>
    <div class="graph">

    </div>
  </div>


  <div class="halftwo" padding>
    <div class="users">
        <h5>USERS</h5>
     <h3>1238</h3>
    </div>

    <div class="category1"  >
      <div class="alluminium">
        <div class="imagediv"> </div>
       <h5>ALLUMINIUM</h5>
          <h3>1238</h3>
      </div>
      <div class="plastic">
          <div class="imagediv2"> </div>
          <h5>GLASS</h5>
          <h3>3563</h3>
      </div>
    </div>

    <div class="category2">
      <div class="glass">
          <div class="imagediv3"> </div>
          <h5>PAPER</h5>
          <h3>2834</h3>
      </div>
      <div class="paper">
          <div class="imagediv4"> </div>
          <h5>PLASTIC</h5>
          <h3>1238</h3>
      </div>  
    </div>

  </div>
</div>
</ion-content>
