<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 
  Glass<input type="number"   [(ngModel)]="pricess.gl001">
  hd001<input type="number"   [(ngModel)]="pricess.hd001">
  ld003<input type="number"   [(ngModel)]="pricess.ld003">
  nfalo1<input type="number"   [(ngModel)]="pricess.nfalo1">
  pap001<input type="number"   [(ngModel)]="pricess.pap001">
  pap003<input type="number"   [(ngModel)]="pricess.pap003">
  pap005<input type="number"   [(ngModel)]="pricess.pap005">
  pet001<input type="number"   [(ngModel)]="pricess.pet001">
  pet001<input type="number"   [(ngModel)]="pricess.pet001">
  pet003<input type="number"   [(ngModel)]="pricess.pet003">
 
  pet005<input type="number"   [(ngModel)]="pricess.pet005">
 

  
  <button (click)="update(pricess)" type="submit" color="light" size="small">
  update
  </button>
  
  
  
  
  
</ion-content>
