<ion-header>
  <ion-toolbar>
    <ion-title>transactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-input type="number" [(ngModel)]="GH001storagemass">GH001</ion-input>
    <ion-input type="number" [(ngModel)]="NFAL01storagemass">NFAL01</ion-input>
    <ion-input type="number" [(ngModel)]="PAP005storagemass">PAP005</ion-input>
    <ion-input type="number" [(ngModel)]="PAP007storagemass">PAP007</ion-input>
    <ion-input type="number" [(ngModel)]="PAP001storagemass">PAP001</ion-input>
    <ion-input type="number" [(ngModel)]="PAP003storagemass">PAP003</ion-input>
    <ion-input type="number" [(ngModel)]="HD001storagemass">HD001</ion-input>
    <ion-input type="number" [(ngModel)]="LD001storagemass">LD001</ion-input>
    <ion-input type="number" [(ngModel)]="LD003storagemass">LD003</ion-input>
    <ion-input type="number" [(ngModel)]="PET001storagemass">PET001</ion-input>
    <ion-input type="number" [(ngModel)]="PET003storagemass">PET003</ion-input>
    <ion-input type="number" [(ngModel)]="PET005storagemass">PET005</ion-input>
</ion-content>
