<ion-header>
  <ion-toolbar>
    <ion-title>clientHistory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container" padding>
  <div class="profiles">
    <div class="propic">
      <div class="image-holder">
        <div class="image"></div>
          <!-- <img src="https://i.pinimg.com/564x/c4/55/b2/c455b2e4d727e64a84ffa20910076f22.jpg"> -->
      </div>
    
      <div class="names">
        <p>khuthadzo Muenda</p>
        <p id="phn">060 486 9924</p>
        <p id="mail">khutty@hotmail.com</p>
      </div>
    </div>
    <div class="stats"></div>
  </div>
  <div class="receipts"></div>
</div>
</ion-content>
