<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
     
    <div class="logo">

      </div>

      <div class="login">
        <h1>Register</h1>
       
        <input type="text" [(ngModel)]="user.email" placeholder="Email" class="ion_input">
        <input type="password"   [(ngModel)]="user.password" placeholder="password" class="ion_input">
        
      <div class="button">
          <button class="loginButton" (click)="createRegister(user)">Register</button>
      </div>
      
      
        </div>
</div>
</ion-content>
